# ==============================
# APP CONFIG
# ==============================
APP_NAME=
APP_ENV=
APP_PORT=
APP_DEBUG=
APP_TIMEZONE=

JWT_SECRET=
JWT_EXPIRES_IN=

ENCRYPT_KEY=


# ==============================
# DATABASE CONFIG
# ==============================
DB_DRIVER=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSLMODE=
DB_SEARCH_PATH=
DB_MAX_OPEN_CONNS=
DB_MAX_IDLE_CONNS=
DB_CONN_MAX_LIFETIME=


# ==============================
# REDIS CONFIG
# ==============================
REDIS_ENABLED=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=


# ==============================
# OBJECT STORAGE (MINIO / S3)
# ==============================
STORAGE_PROVIDER=

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=
MINIO_PUBLIC_URL=
MINIO_USE_SSL=


# ==============================
# SMTP / EMAIL
# ==============================
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_NAME=


# ==============================
# DEFAULT DATA
# ==============================
DEFAULT_USER_PASSWORD=


# ==============================
# FIREBASE
# ==============================
FIREBASE_CREDENTIALS_FILE=./firebase.json